#drum-machine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display"
    "drum drum drum"
    "drum drum drum"
    "drum drum drum"
    "record record record";
  margin: 50px auto;
  width: 500px;
  background: #f8f8f8;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.1);
  font-size: 2em;
  text-align: center;
}

#display {
  grid-area: display;
}

#record-play {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: record;
}

.drum-pad {
}
